<.flash_group flash={@flash} />
<div class="bg-black h-screen w-screen flex items-center justify-center text-white flex-col">
  <h1 class="text-5xl">OrderBook</h1>

  <form class="flex">
    <input class="bg-slate-300 text-black p-2 m-2 rounded-md text-xl" placeholder="AAPL" name="symbol" />
    <button class="bg-slate-500 p-2 m-2 rounded-md text-xl text-black hover:bg-slate-300">Open</button>
  </form>
</div>
